{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="https://pagination.js.org/dist/2.1.5/pagination.js"></script>
  <link rel="stylesheet" href="https://pagination.js.org/dist/2.1.5/pagination.css">
  <style media="screen">
    #card_div{
      width:100%;
    }
  </style>
</head>

<body>
  {% include 'nav.html' %}

  <div class="container m-5">
    <ul class="nav nav-pills my-3" role="tablist">
      <li class="nav-item red">
        <a class="mx-2 nav-link text-white bg-info active" id="index-tab" data-toggle="tab" href="#index" role="tab" aria-selected="true">New</a>
      </li>
      <li class="nav-item">
        <a class="mx-2 nav-link text-white bg-warning" id="top-tab" data-toggle="tab" href="#top" role="tab" aria-selected="false">Top</a>
      </li>
      <li class="nav-item">
        <a class="mx-2 nav-link text-white bg-danger" id="hot-tab" data-toggle="tab" href="#hot" role="tab" aria-selected="false">Hot</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="index" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-12">
            <div class="card text-white bg-info new_card">
              <div class="card-content">
                <div class="card-header text-center" style="font-size:1.2em;font-family:Comic Sans MS, cursive, sans-serif">
                  Newly added
                </div>
                <div class="card-body bg-light text-dark">
                    <div class="new_body row" style="overflow: auto !important">

                    </div>
                    <div class="d-flex flex-column m-auto">
                      <div class="spinner-grow m-auto display" role="status" style="width: 3rem; height: 3rem">
                      </div>
                    </div>
                </div>
                <div class="card-footer d-flex bg-light">
                  <div class="pagination_footer_new mx-auto">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="top" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-12">
            <div class="card text-white bg-warning top_card">
              <div class="card-content">
                <div class="card-header text-center" style="font-size:1.2em;font-family:Comic Sans MS, cursive, sans-serif">
                  Top rated
                </div>
                <div class="card-body bg-light text-dark">
                    <div class="top_body row" style="overflow: auto !important">

                    </div>
                    <div class="d-flex flex-column m-auto">
                      <div class="spinner-grow m-auto display" role="status" style="width: 3rem; height: 3rem">
                      </div>
                    </div>


                </div>
                <div class="card-footer d-flex bg-light">
                  <div class="pagination_footer_top mx-auto">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="hot" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
          <div class="col-12">
            <div class="card text-white bg-danger hot_card">
              <div class="card-content">
                <div class="card-header text-center" style="font-size:1.2em;font-family:Comic Sans MS, cursive, sans-serif">
                  Hot articles
                </div>
                <div class="card-body bg-light text-dark">
                    <div class="hot_body row" style="overflow: auto !important">

                    </div>
                    <div class="d-flex flex-column m-auto">
                      <div class="spinner-grow m-auto display" role="status" style="width: 3rem; height: 3rem">
                      </div>
                    </div>


                </div>
                <div class="card-footer d-flex bg-light">
                  <div class="pagination_footer_hot mx-auto">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>

</body>
<!-- <script src="{% static "js/main.js" %}"></script> -->
<script type="text/javascript">
function template(res) {
    let dat = ''

    $.each(res, function(index, item){
        dat += `
            <div class="col-12 my-2 border-bottom d-flex">
              <p>${item.title}</p>
              <a href='/article/${item.id}' class="ml-auto mr-2 stretched-link">&#8594;</a>
            </div>
        `;
    });
    return dat;
}
  $(document).ready(()=>{

    $(".display").css({'display':'block'})
    $.ajax({type:'GET',url:"{% url 'get_article' %}",success:(res)=>{
      $('.top_card').find(".display").css({'display':'none'})
      // console.log($(this).find(".display"));
      $('.pagination_footer_top').pagination({
        pageSize:25,
        dataSource: res,
        showGoInput: true,
        showGoButton: true,
        callback: function(data, pagination) {
            var html = template(data);
            $('.top_body').html(html);
        }
    })
  }})

    $.ajax({type:'GET',url:"{% url 'get_article_new' %}",success:(res)=>{
      $('.new_card').find(".display").css({'display':'none'})
      // console.log($(this).find(".display"));
      $('.pagination_footer_new').pagination({
        pageSize:25,
        dataSource: res,
        showGoInput: true,
        showGoButton: true,
        callback: function(data, pagination) {
            var html = template(data);
            $('.new_body').html(html);
        }
    })
  }})

    $.ajax({type:'GET',url:"{% url 'get_article_top' %}",success:(res)=>{
      if(res.error == 'error'){
        return
      }
      $('.hot_card').find(".display").css({'display':'none'})
      $('.pagination_footer_hot').pagination({
        pageSize:25,
        dataSource: res,
        showGoInput: true,
        showGoButton: true,
        callback: function(data, pagination) {
            var html = template(data);
            $('.hot_body').html(html);
            console.log("oj");
        }
      })
    }})
  })
</script>
</html>
