{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container">
  <div class="div">
    <div class="card bg-info">
      <h5 class="card-title text-center mt-3 text-white" style="font-size:1.2em;font-family:'Comic Sans MS'">Searched docs:</h5>
      <div class="card-body bg-white">
        {% for article in article_list %}
          <div class="my-2 border-bottom d-flex">
            <p>{{ article.title }}</p>
            <a href="{% url 'article' article.pk %}" class="ml-auto mr-2">&#8594;</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
