<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}

  <style media="screen">
    .add_tag{
      transform: rotate(0deg)
    }
    .remove_tag{
       transform: rotate(30deg)
    }
  </style>
  <script type="text/javascript" src="{% static 'js/remove_add.js'%}">

  </script>

  <body>
    {% include 'nav.html' %}
    <div class="container-lg mt-4">
      <span>Mention your topics, authors and keywords for recommendation</span>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link nav-item active" id="home-tab" data-toggle="tab" href="#tags" role="tab" aria-controls="home" aria-selected="true">Home</a>
        <a class="nav-link nav-item" id="profile-tab" data-toggle="tab" href="#keywords" role="tab" aria-controls="keywords" aria-selected="false">Kewords</a>
        <a class="nav-link nav-item" id="author-tab" data-toggle="tab" href="#authors" role="tab" aria-controls="authors" aria-selected="false">Authors</a>
        <a class="nav-link nav-item" id="paper-tab" data-toggle="tab" href="#papers" role="tab" aria-controls="papers" aria-selected="false">Papers</a>

      </div>

      <div class="tab-content mt-5" id="myTabContent">
        <div class="tab-pane fade show active" role="tabpanel" id="tags">
          <div class="row">
            <div class="col-12 col-lg-6">
              {% for i,j in disciplines.items %}
                <div class="dropright mx-xl-4 mx-auto">
                    <button class="btn btn btn-secondary my-1 dropdown-toggle text-left" type="button" id="{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ i }}
                    </button>
                    <div class="dropdown-menu m-0" aria-labelledby="{{i}}">
                      {% for sub in j %}
                        <a class="dropdown-item d-flex">
                          {{sub}}
                          <button class="btn btn-white ml-auto add_tag" disc="{{i}}" subd="{{sub}}" onclick="addTag(this)"><i class="fas fa-thumbtack"></i></button>
                        </a>

                      {% endfor %}
                    </div>
                </div>
              {% endfor %}
            </div>
            <div class="col-12 col-lg-6 user_tags">
              <div class="d-flex mb-3" style="font-size:1.3em">Your Topics:</div>
              {% for sub in request.user.tags %}
                <a class="d-flex user_tag" role="button" class="btn btn-outline-info" subd="{{sub}}">{{sub}}<button class="btn btn-white ml-auto remove_tag" disc="{{i}}" subd="{{sub}}" onclick="removeYourTopic(this)"><i class="fas fa-thumbtack"></i></button></a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="tab-pane fade show" role="tabpanel" id="keywords">
          <div class="container m-auto">
            <div class="input-group mb-3">
              <input type="text" class="form-control"  onkeypress="onPress(event,this,'kw')" id="input_kw" placeholder="Add keywords separated by ," aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-info" type="button" onclick="keywords(this)">Add</button>
              </div>
            </div>
            <div class="d-flex keywords">
              {% for i in request.user.keywords %}
                <span class='bg-secondary text-light ml-2 rounded'>
                  <span class='ml-2'>{{i}}<button kw='{{i}}' class='ml-2 btn btn-secondary btn-sm' onclick='removeKw(this)'>x</button></span>
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="tab-pane fade show" role="tabpanel" id="authors">
          <div class="container m-auto">
            <div class="alert alert-secondary" role="alert">
              Type in author's and press enter or click 'Add'.
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control"  onkeypress="onPress(event,this,'au')" id="input_au" placeholder="Add author's full name" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-info" type="button" onclick="author(this)">Add</button>
              </div>
            </div>
            <div class="d-flex authors">
              {% for i in request.user.authors %}
                <span class='bg-secondary text-light ml-2 rounded'>
                  <span class='ml-2'>{{i}}<button au='{{i}}' class='ml-2 btn btn-secondary btn-sm' onclick='removeAuthor(this)'>x</button></span>
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="tab-pane fade show" role="tabpanel" id="papers">
          <div class="alert alert-secondary" role="alert">
            For multiple papers add ';' in between
          </div>
          <form id='get_artile'>
            <div class="form-group">
              <label for="">Search for specific papers:</label>
              <input type="text" name="papers" placeholder="Search.." class="form-control">
            </div>
            <input type="submit" value="Import articles based on your authors, keywords and topics" class="btn btn-outline-success">
          </form>
        </div>

      </div>
      <div class="d-flex my-5">
        <button type="button" class="btn btn-outline-secondary ml-auto mr-1 btnPrevious" name="button">Previous</button>
        <button type="button" class="btn btn-outline-info mr-auto btnNext" name="button">Next</button>
      </div>
      <div class="d-flex flex-column">
        <div class="spinner-grow m-auto display" role="status" style="width: 3rem; height: 3rem;display:none">
        </div>
        <div class="m-auto">
          <span class="display" style="display:none" >Fetching data. Don't hit refresh</span>
        </div>
        <div class="m-auto">
          <span class="text-muted display" style="display:none" >This might take couple of minutes</span>
        </div>
      </div>
    </div>


    <script type="text/javascript">
    var csrf_token = "{{csrf_token}}"
    $(document).ready(function () {
      $('.btnNext').click(function(){
        $('.nav-tabs > .active').next('a').trigger('click');
        if($('.nav-tabs > .active').attr('id') == 'paper-tab'){
          $('.btnNext').addClass('disabled')
        }
        else{
          $('.btnNext').removeClass('disabled')
        }
      });
      $('.btnPrevious').click(function(){
        $('.nav-tabs > .active').prev('a').trigger('click');
        if($('.nav-tabs > .active').attr('id') == 'paper-tab'){
          $('.btnNext').addClass('disabled')
        }
        else{
          $('.btnNext').removeClass('disabled')
        }
      });

      $("#get_artile").submit(function(){
        console.log($(this).find('input[name="papers"]').val().split(';'));
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        var theUrl = "/get_articles/get_article_from_data/";
        var data = new FormData();
        data.append('query', $(this).find('input[name="papers"]').val());
        data.append('csrfmiddlewaretoken', '{{csrf_token}}');

        xmlhttp.open("POST", theUrl);
        xmlhttp.onerror = function () {
          alert("Error while fetching data")
          $(".display").css({'display':'none'})
        };
        xmlhttp.onload = function () {
          $(".display").css({'display':'none'})
          window.location.href = '/'
        };

        $(".display").css({'display':'block'})
        xmlhttp.send(data)
        return false
      })
    })

    </script>

  </body>
{% endblock %}
